extends ../layouts/master

block content
    div.content-header
        div.container-fluid
            div.row.mb-2
                div.col-sm-6
                    h1.m-0 Kartu Keluarga
                div.col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item
                            a(href="#") Dashboard
                        li.breadcrumb-item.active Kartu Keluarga Page
    div.content
        div.container-fluid
            div.card
                div.card-body
                    div.table-responsive
                        table.table.table-striped(id = "table-fam-card")
                            thead
                                tr
                                    th ID
                                    th Name
                                tbody
                                    each famCard in famCards
                                        tr
                                            td #{famCard.id}
                                            td #{famCard.name}

block add-js

block add-css